{% load i18n admin_static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet"
          type="text/css"
          href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}"/>
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}
        <link rel="stylesheet"
              type="text/css"
              href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}"/>{% endif %}
    {% block extrahead %}{% endblock %}
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE"/>{% endblock %}
    <link rel="shortcut icon" href="{% static "admin/images/favicon.png" %}" type="image/x-icon"/>
    <link rel="apple-touch-icon-precomposed" href="{% static "images/apple-touch-icon-57-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed"
          sizes="114x114"
          href="{% static "admin/images/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed"
          sizes="72x72"
          href="{% static "admin/images/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed"
          sizes="144x144"
          href="{% static "admin/images/apple-touch-icon-144-precomposed.png" %}">
    <!-- CORE  -->
    <link href="{% static "admin/css/pace-theme-flash.css" %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static "admin/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "admin/css/bootstrap-theme.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "admin/fonts/css/font-awesome.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "admin/css/animate.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "admin/css/perfect-scrollbar.css" %}" rel="stylesheet" type="text/css"/>
    <!-- CORE  -->
    <link href="{% static "admin/css/style.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "admin/css/responsive.css" %}" rel="stylesheet" type="text/css"/>
    <!-- CORE  -->
    <link href="{% static "admin/assets/css/highcharts.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "admin/css/custom.css" %}" rel="stylesheet" type="text/css"/>

    <!-- CORE  -->
    <script src="{% static "admin/js/jquery-1.11.2.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/js/jquery.easing.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/js/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/js/pace.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/js/perfect-scrollbar.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/js/viewportchecker.js" %}" type="text/javascript"></script>
    <script>window.jQuery || document.write('<script src="{% static "admin/js/jquery-1.11.2.min.js" %}"><\/script>');</script>
    <!-- CORE  -->
    <script src="{% static "admin/js/scripts.js" %}" type="text/javascript"></script>
    <!-- END CORE  -->
    <script src="{% static "admin/assets/js/highcharts.js" %}"></script>
    <script src="{% static "admin/assets/js/highcharts-3d.js" %}"></script>
    <script src="{% static "admin/assets/js/modules/series-label.js" %}"></script>
    <script src="{% static "admin/assets/js/modules/exporting.js" %}"></script>



</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
      data-admin-utc-offset="{% now "Z" %}">
{% if not is_popup %}
    {% block usertools %}
        {% comment %}{% if has_permission %}{% endcomment %}
            {% block welcome-msg %}

                <div class='page-topbar '>
                <div class='logo-area'>
                </div>
                <div class='quick-area'>
                <div class='pull-left'>
                    <ul class="info-menu left-links list-inline list-unstyled">
                        <li class="sidebar-toggle-wrap">
                            <a href="#" data-toggle="sidebar" class="sidebar_toggle">
                                <i class="fa fa-bars"></i>
                            </a>
                        </li>


                        <!-- <li class="hidden-sm hidden-xs searchform">
                            <form action="#" method="post">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <input type="text" class="form-control animated fadeIn" placeholder="Search & Enter">
                                </div>
                                <input type='submit' value="">
                            </form>
                        </li> -->
                    </ul>
                </div>
                <div class='pull-right'>
                <ul class="info-menu right-links list-inline list-unstyled">
                <li class="profile">
                <a href="#" data-toggle="dropdown" class="toggle">
                <img src="{% static "admin/images/profile.jpg" %}"
                     alt="user-image"
                     class="img-circle img-inline">

                <span>  {% trans 'Welcome,' %} {% firstof user.get_short_name user.get_username %} <i class="fa fa-angle-down"></i></span>

            {% endblock %}

        </a>
        <ul class="dropdown-menu profile animated fadeIn">
            <li>
                {% block userlinks %}
                    {% comment %} {% if site_url %}
                    <a href="{{ site_url }}">{% trans 'View site' %}</a> /
                {% endif %}{% endcomment %}
                    {% if user.has_usable_password %}
                        <a href="{% url 'admin:password_change' %}">
                            <i class="fa fa-wrench"></i> {% trans 'Change password' %}</a>

                    {% endif %}

                    </li>
                    {% if user.is_active and user.is_staff %}
                        {% url 'django-admindocs-docroot' as docsroot %}
                        {% if docsroot %}
                            <li>
                                <a href="{{ docsroot }}">
                                    <i class="fa fa-info"></i> {% trans 'Documentation' %}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li class="last">
                        <a href="{% url 'admin:logout' %}">
                            <i class="fa fa-lock"></i> {% trans 'Log out' %}
                        </a>
                    </li>
                    </ul>
                    </li>
                    </ul>
                    </div>
                    </div>


                    </div>
                    <!-- Termina Topbar -->
                    <!-- Barra lateral -->
                    <div class="page-container row-fluid container-fluid">
                    <div class="page-sidebar pagescroll">
                        <div class="page-sidebar-wrapper" id="main-menu-wrapper">
                            <div class="profile-info row">
                                <div class="profile-image col-xs-4">
                                    <a href="#">
                                        <img alt=""
                                             src="{% static "admin/images/profile.jpg" %}"
                                             class="img-responsive img-circle">
                                    </a>
                                </div>
                                <div class="profile-details col-xs-8">
                                    <h3>
                                        <a href="#">{% firstof user.get_short_name user.get_username %}</a>
                                        <span class="profile-status online"></span>
                                    </h3>
                                    <p class="profile-title">Administrador</p>
                                </div>
                            </div>
                            <!-- termina info de usuario -->
                            <ul class='wraplist'>
                                <li class='menusection'>Menú Principal</li>
                                <li class="open">
                                    <a href="#">
                                        <i class="fa fa-dashboard"></i>
                                        <span class="title">Dashboard</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#">
                                        <i class="fa fa-columns"></i>
                                        <span class="title">Catálogos</span>
                                        <span class="arrow "></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="" href="#" target='_blank'>item</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="">
                                    <a href="#">
                                        <i class="fa fa-industry"></i>
                                        <span class="title">Almacén</span>
                                        <span class="arrow "></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="" href="#">item</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="">
                                    <a href="#">
                                        <i class="fa fa-edit"></i>
                                        <span class="title">Pedidos</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="" href="#">item</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="">
                                    <a href="#">
                                        <i class="fa fa-dollar"></i>
                                        <span class="title">Ventas</span>
                                        <span class="arrow "></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="" href="#">Pedidos</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="">
                                    <a href="#">
                                        <i class="fa fa-area-chart"></i>
                                        <span class="title">Reportes</span>
                                        <span class="arrow "></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="" href="#">item</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="">
                                    <a href="#">
                                        <i class="fa fa-question-circle"></i>
                                        <span class="title">Ayuda</span>
                                        <span class="arrow "></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="" href="#">item</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                            <!-- <div class="menustats">
                                <h5>Project Progress</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 50%;">
                                    </div>
                                </div>
                            </div> -->

                        </div>
                        <!-- TErmina menu principal -->
                    </div>

                    <!-- Contenido principal -->
                    <!-- Contenido principal -->
                    <!-- Contenido principal -->
                    <!-- Contenido principal -->
                    <!-- Contenido principal -->
                    <!-- Contenido principal -->
                    <section id="main-content" class=" ">
                    <section class="wrapper main-wrapper row">
                    <!-- Container -->
                    <div id="container">


                    <!-- Header -->
                    <div id="header">
                    {% comment %} <div id="branding">
                {% block branding %}{% endblock %}
            </div>{% endcomment %}
                    {% comment %}{% block usertools %}
                            {% if has_permission %}
                                <div id="user-tools">
                                    {% block welcome-msg %}
                                        {% trans 'Welcome,' %}
                                        <strong>{% firstof user.get_short_name user.get_username %}</strong>.
                                    {% endblock %}
                                    {% block userlinks %}
                                        {% if site_url %}
                                            <a href="{{ site_url }}">{% trans 'View site' %}</a> /
                                        {% endif %}
                                        {% if user.is_active and user.is_staff %}
                                            {% url 'django-admindocs-docroot' as docsroot %}
                                            {% if docsroot %}
                                                <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                                            {% endif %}
                                        {% endif %}
                                        {% if user.has_usable_password %}
                                            <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a>
                                            /
                                        {% endif %}
                                        <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
                                    {% endblock %}
                                </div>
                            {% endif %}
                        {% endblock %}{% endcomment %}
                {% endblock %}

        {% comment %}{% endif %}{% endcomment %}
    {% endblock %}
{% block nav-global %}{% endblock %}
</div>
    <!-- END Header -->
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            {% if title %} &rsaquo; {{ title }}{% endif %}
        </div>
    {% endblock %}
{% endif %}

{% block messages %}
    {% if messages %}
{% for message in messages %}
        <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade in"{% endif %}>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {{ message|capfirst }}</div>
{% endfor %}

       {% comment %} <ul class="messagelist">{% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>{% endcomment %}
    {% endif %}
{% endblock messages %}

<!-- Content -->
<!-- Content -->
<!-- Content -->
<!-- Content -->
<!-- Content -->
<!-- Content -->
<div id="" class="{% block coltype %}{% endblock %}">
    {% block pretitle %}{% endblock %}
    {% block content_title %}{% if title %}
         <div class="page-title">

                        <div class="pull-left">
                            <h1 class="title">{{ title }}</h1>
                        </div>


                    </div>
        {% comment %}<h1>{{ title }}</h1>{% endcomment %}
    {% endif %}{% endblock %}
    {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
    {% endblock %}
    {% block sidebar %}{% endblock %}
    <br class="clear"/>
</div>
<!-- END Content -->
<!-- END Content -->
<!-- END Content -->
<!-- END Content -->
<!-- END Content -->
<!-- END Content -->

{% block footer %}
    <div id="footer"></div>{% endblock %}
</div>
<!-- temrina contenido principal -->
<!-- temrina contenido principal -->
<!-- temrina contenido principal -->
<!-- temrina contenido principal -->
<!-- temrina contenido principal -->
<!-- temrina contenido principal -->

<!-- temrina contenido principal -->
</section>
</section>
</div>


<!-- General modal -->
<div class="modal" id="section-settings" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog animated bounceInDown">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Titulo modal</h4>
            </div>
            <div class="modal-body">

                ...

            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                <button class="btn btn-success" type="button">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- modal end -->
<!-- END Container -->

</body>
</html>
